
<div class="card card-body bg-light mb-3">

    <div class="row">
        <div class="col-lg-5">

            <div class="input-group mb-3">
                <div class="input-group-prepend input-group-prepend-wide">
                    <span class="input-group-text">
                        <span>Фамилия</span>
                    </span>
                </div>
                <input type="text" class="form-control" [(ngModel)]="filters.lastName" (ngModelChange)="filtersUpdate()">
            </div>

        </div>
        <div class="col-lg-5">

            <div class="input-group mb-3">
                <div class="input-group-prepend input-group-prepend-wide">
                    <span class="input-group-text">
                        <span>
                            Телефон
                        </span>
                    </span>
                </div>
                <input type="text" class="form-control" [(ngModel)]="filters.phone" (ngModelChange)="filtersUpdate()">
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-lg-5">

            <div class="input-group mb-3 mb-lg-0">
                <div class="input-group-prepend input-group-prepend-wide">
                    <span class="input-group-text">
                        <span>
                            Город
                        </span>
                    </span>
                </div>
                <input type="text" class="form-control" [(ngModel)]="filters.city" (ngModelChange)="filtersUpdate()">
            </div>

        </div>
        <div class="col-lg-5">

            <div class="input-group mb-3 mb-lg-0">
                <div class="input-group-prepend input-group-prepend-wide">
                    <span class="input-group-text">
                        <span>
                            Дата рождения
                        </span>
                    </span>
                </div>
                <p-calendar
                        [(ngModel)]="filters.dateOfBirth"
                        [selectionMode]="'range'"
                        [monthNavigator]="true"
                        [yearNavigator]="true"
                        [yearRange]="'1950:2000'"
                        [dateFormat]="'dd/mm/yy'"
                        (ngModelChange)="filtersUpdate()"></p-calendar>
            </div>

        </div>
        <div class="col-lg-2">

            <button type="button" class="btn btn-info btn-block" (click)="filtersClear()">
                Сброс
            </button>

        </div>
    </div>
</div>

<div class="table-responsive mb-3">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Имя</th>
                <th>Фамилия</th>
                <th>Адрес эл. почты</th>
                <th>Телефон</th>
                <th>Город</th>
                <th>Дата рождения</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of items">
                <th>
                    {{item.id.value}}
                </th>
                <td>
                    {{item.name.title}} {{item.name.first}}
                </td>
                <td>
                    {{item.name.last}}
                </td>
                <td>
                    {{item.email}}
                </td>
                <td>
                    {{item.phone}}
                </td>
                <td>
                    {{item.location.city}}
                </td>
                <td>
                    {{item.dob | date:'dd/MM/yyyy'}}
                </td>
            </tr>
            <tr *ngIf="!items.length">
                <td colspan="7" class="bg-light text-center">
                    Empty.
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="mb-3">
    <div class="float-right">
        <select class="form-control" [(ngModel)]="pageOptions.pageSize" (ngModelChange)="onChangePageSize()">
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="30">30</option>
        </select>
    </div>

    <pagination
            [totalItems]="pageOptions.totalItems"
            [page]="pageOptions.page"
            [pageSize]="pageOptions.pageSize"
            (pageChanged)="onChangePage($event)"></pagination>

    <div class="clearfix"></div>
</div>
