
body { padding: 20px; }

.input-group-prepend-wide .input-group-text { width: 150px; border-right: 0; }
.input-group-prepend-wide .input-group-text > span { display: block; width: 100%; text-align: center; }

/* PrimeNg custom styles */
.ui-inputtext { width: 100%; padding: .375rem .75rem; }
.input-group .input-group-prepend + * { position: relative; flex: 1 1 auto; width: 1%; margin-bottom: 0; }
.input-group .input-group-prepend + * > span { display: block; width: 100%; }
